@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: Quicksand;
   
}
/* NAV STYLING  */
#nav {
   margin: 10px auto;
  
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 30%;
    height: 30%;
}
nav .logo {
    display: flex;
    align-items: center;
}
nav .icons {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    gap: 20px;
    cursor: pointer;
    font-family: Quicksand;
}
.icon1 {
    text-decoration: none;
    color: rgb(254, 163, 1);}
.icon2 {
    text-decoration: none;
    color: rgb(1, 172, 253);}
.icon3 {
    text-decoration: none;
    color: rgb(5, 212, 223);}
.icon4 {
    text-decoration: none;
    color: rgb(93, 88, 239);}
.btn {
    color:white ;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    background: rgb(254, 163, 1);
    padding: 8px 20px;
    cursor: pointer;
}
.icon1:hover, .icon2:hover, .icon3:hover, .icon4:hover {
   color: brown;
    
}
.btn:hover {
  padding: 9px 21px;
  background: rgb(228, 145, 0)
}
.toggle {
    display: none;
}
hr {
    display: none;
}
@media (max-width: 768px) {
    nav {
        /* background-color: red; */
        margin: 10px auto;
        /* border-bottom: 1px solid rgb(254, 163, 1);
        bord */
    }
    hr {
        display: flex;
        border: none;
        height: 1.5px;
        background-color:rgb(254, 163, 1);
      
    }
    .logo h1 {
        display: none;
    }
    .logo img {
        width: 60%;
        height: 60%;
    }
    .icon1  {
        display: none; 
    }
    .icon2  {
        display: none; 
    }
    .icon3  {
        display: none; 
    }
    .icon4  {
        display: none; 
    }
    .btn {
        display: none;
    }
    .toggle {
        display: flex;
        align-items: center;
        width: 10%;
        height: 20%;
       cursor: pointer;
    }
    .toggle:hover {
        padding: 5px 0px;
        }}
        /*  nav styling end */
        /* BANNER STYLING  */
.banner {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0 auto;
    
}
.banner .title {
    background-color: white;
    /* font-family: Quicksand; */
font-size: 40px;
font-weight: 700;
line-height: 45px;
/* letter-spacing: 0%; */
/* text-align: left; */
}
.e {
   color: rgb(254, 163, 1);
}
.tv {
color: rgb(1, 172, 253);
}
.banner .desc {
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}
.btn2 {
    border-radius: 12px;
    color:white ;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(17, 17, 17);
}
.btn2:hover {
    padding: 11px 21px;
    background: rgb(49, 46, 46);
  }
@media (max-width: 768px) {
    .banner{
        display:flex;
        flex-direction: column-reverse;
        text-align: center;
        margin: 0 auto;
    }
    .banner .title {
        text-align: center;
    }
    .btn2 {
        margin: 10px 0;
    }
}
        /* banner styling end  */
        /* STANDARD CURRICULAM STYLING  */
.stand-curri {
    background-image: url(images/bg.png);
    margin: 10px auto;
}
.stand-curri-title {
    font-size: 46px;
    font-weight: 700;
    text-align: center;
}
.cards {
    display: flex; 
    justify-content: space-around;
    gap: 10px;
}
.card-desc {
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15px;
    line-height: 20px;
}
.card1 {
    text-align: center;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid rgb(164, 223, 250);
    border-radius: 20px;
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card2 {
    text-align: center;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 194, 80) ;
    border-radius: 20px;
    background: linear-gradient(rgb(255, 230, 185), rgb(255, 254, 249), white);
}
.card3 {
    text-align: center;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid rgb(213, 168, 255);
    border-radius: 20px;
    background: linear-gradient(rgb(226, 219, 255), rgb(248, 248, 255), white);
}

.btnc1 {
    border-radius: 12px;
    color: rgb(0, 151, 220);
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(164, 223, 250);
}

.btnc2 {
    border-radius: 12px;
    color:rgb(224, 146, 0);
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background:rgb(242, 214, 163);
}

.btnc3 {
    border-radius: 12px;
    color:blueviolet;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background:rgb(211, 198, 255);
}
.btnc1:hover, .btnc2:hover, .btnc3:hover  {
    color:rgb(74, 74, 74);
    font-weight: bold;
}
.arrow-btn {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.symbol-btn {
    margin: 20px 0;
    background-color:orange;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
    transition:  0.3s ease;
  }
  .symbol-btn:hover {
    background-color: orangered;
  }
  @media (max-width: 768px) {
    .cards{
        display: inline;
        align-items: center;
        gap: 25px;
        /* margin: 0 50px; */

    }
    .card1 {
        margin: 20px auto;
        width: 80%;
        justify-content: center;
    }
    .card2 {
        margin: 20px auto;
        width: 80%;
        justify-content: center;
    }
    .card3 {
        margin: 20px auto;
        width: 80%;
        justify-content: center;
    }

  }
        /* standard curriculam styling end  */
        /* OUR STORIES  */
.our-stories {
    background: url(images/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    margin: 10px auto;
}
.story-heading {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.stories {
    display: flex;
    gap:20px ;
}
.story{
    display: grid;
    width: 55%;
    grid-template-columns: repeat(2, 1fr);
}
.story-1 {
    width: 40%;
    background-color: white;
    border-radius: 30px;
    /* display: block; */
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    /* align-items: center; */
}
.story-btn {
    margin: -15px 0 0 0 ; 
    background-color: rgb(60, 216, 232);
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    border-radius: 15px;
    width: 40%;
    height: 6%;
    margin-left: 25px;
    position: static;
}
.story-1 >img {
    width: 100%;
}
.story-title {
 margin: 20px 0px 0px 10px;
font-size: 20px;
line-height: 25px;
position: static;
}
.story-0 {
    background: white;
    width:90%;
    height: auto;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    /* overflow: hidden; */
    margin: 8px 0;
}
.story-0 > img {
    width: 100%;
    border-top-left-radius:30px ;
    border-top-right-radius:30px ;
}

.story-0 > h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-left: 10px;
}
.story-btn-0 {
    margin: -15px 0px 0px 60px;
    display: block;
    background-color:rgb(239, 159, 11) ;
    color: white;
    border: none;
    font-size: 14px; 
   font-weight: bold;
    font-style: italic;
    border-radius: 10px;
    width: 40%;
    height: 8%;
    position: relative;
}
.btnS {
  margin: 30px ;
  text-align: center;
}

        /* OUR STORIES END  */

